<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
  <Fragment>
    <Icon Id="ProductIcon" SourceFile="Images/hermesIcon.ico" />
    <Property Id="ARPPRODUCTICON">ProductIcon</Property>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Binary Id="Hermes_CA" SourceFile="$(var.SolutionDir)CustomActions\bin\CustomActions.CA.dll" />
    <CustomTable Id="AvailableWebSites">
      <Column Id="WebSiteNo" Category="Identifier" PrimaryKey="yes" Type="int" Width="4" />
      <Column Id="WebSiteDescription" Category="Text" Type="string" PrimaryKey="no" />
      <Column Id="WebSitePort" Category="Text" Type="string" PrimaryKey="no" />
      <Column Id="WebSiteIP" Category="Text" Type="string" PrimaryKey="no" Nullable="yes" />
      <Column Id="WebSiteHeader" Category="Text" Type="string" PrimaryKey="no" Nullable="yes" />
      <Row>
        <Data Column="WebSiteNo">0</Data>
        <Data Column="WebSiteDescription">Hermes</Data>
        <Data Column="WebSitePort">0</Data>
        <Data Column="WebSiteIP"></Data>
        <Data Column="WebSiteHeader"></Data>
      </Row>
    </CustomTable>
    <iis:WebSite Id="SelectedWebSite" Description="[WEBSITE_DESCRIPTION]">
      <iis:WebAddress Id="AllUnassigned" Port="[WEBSITE_PORT]" IP="[WEBSITE_IP]" Header="[WEBSITE_HEADER]" />
    </iis:WebSite>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="UI" />
    <InstallUISequence>
      <Custom Action="GetIISWebSites" After="CostFinalize" Overridable="yes">NOT Installed</Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="ca_SET_MONGO_DATA_FOLDER" After="CostFinalize" />
      <Custom Action="ca_SET_MONGO_LOG_FILE" After="ca_SET_MONGO_DATA_FOLDER" />
      <Custom Action="ca_StopMongoService" After ="ca_SET_MONGO_LOG_FILE"><![CDATA[Installed]]></Custom>
      <Custom Action="ca_RemoveMongoAsService" After="ca_StopMongoService"><![CDATA[Installed]]></Custom>

      <Custom Action="ca_InstallMongoAsService" After="InstallFinalize"><![CDATA[NOT MONGO_SERVER_REG AND NOT Installed AND &feature_MongoDB=3]]></Custom>
      <Custom Action="ca_StartMongoService" After="ca_InstallMongoAsService"><![CDATA[NOT MONGO_SERVER_REG AND NOT Installed AND &feature_MongoDB=3]]></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>