@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div class="tile">
        <h6>groups</h6>
    </div>
    <div class="tile">
        <h6>topics</h6>
    </div>
    <div class="tile">
        <h6>messages</h6>
    </div>
    <div class="last tile">
        <h6>news</h6>
    </div>
</div>
