@{
    ViewBag.Title = "Home Page";
}

<div id="main-content">
<ul id="home-highlights" class="highlights">
    <li>groups</li>
    <li>topics</li>
    <li>messages</li>
</ul>

<div class="tile">
    <h6>groups</h6>
</div>
<div class="tile">
    <h6>topics</h6>
</div>
<div class="tile">
    <h6>messages</h6>
</div>
<div class="last tile">
    <h6>news</h6>
</div>
</div>
