@{
    ViewBag.Title = "Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TellagoStudios.Hermes.Business.Model.Topic>
 
<table>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Description</th>
        </tr>

    @foreach (var topic in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", "Topic", new { id = topic.Id.Value }, new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "Result"})
            </td>
             <td>
                @topic.Name
            </td>
            <td>
                @topic.Description
            </td>
        </tr>
    }
 
    </table>
    <p>
        @Html.ActionLink("Create new Topic", "Create", "Topic", new AjaxOptions())
    </p>